.ax_shape {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_paragraph {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:20px;
}
.ax_h1 {
  font-family:'Arial', 'sans-serif;';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h2 {
  font-family:'Arial', 'sans-serif;';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#333333;
  text-align:left;
  line-height:33px;
}
.ax_h3 {
  font-family:'Arial', 'sans-serif;';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
  line-height:26px;
}
.ax_h4 {
  font-family:'Arial', 'sans-serif;';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
  line-height:19px;
}
.ax_h5 {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:15px;
}
.ax_h6 {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:left;
  line-height:13px;
}
.ax_image {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_text_link {
  color:#428BCA;
}
.ax_text_link_mouse_over {
  color:#2A6496;
}
.ax_text_link_mouse_down {
}
.ax_text_field {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_text_area {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_droplist {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_list_box {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_checkbox {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_radio_button {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_flow_shape {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_tree_node {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_html_button {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_hot_spot {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_inline_frame {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_dynamic_panel {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_master {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_repeater {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_table {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_table_cell {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_menu {
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_horizontal_line {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_vertical_line {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_connector {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._text-muted {
  color:#999999;
}
._text-primary {
  color:#428BCA;
}
._text-success {
  color:#3C763D;
}
._text-info {
  color:#31708F;
}
._text-warning {
  color:#8A6D3B;
}
._text-danger {
  color:#A94442;
}
.blockquote {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  line-height:22px;
}
.blockquote_source {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:17px;
}
.lead {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
  line-height:29px;
}
.small {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:17px;
}
._btn-default {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:20px;
}
._btn-default_hover {
  color:#333333;
  text-align:center;
  line-height:20px;
}
._btn-primary {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-primary_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-success {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-success_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-info {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-info_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-warning {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-warning_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-danger {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-danger_hover {
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
._btn-link {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:center;
  line-height:20px;
}
._btn-link_hover {
  color:#2A6496;
  text-align:center;
  line-height:20px;
}
.label {
  font-family:'Arial', 'sans-serif;';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
.form_text_field {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
.dropdown-menu {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
.dropdown-menu_no_line {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
.dropdown-menu_hover {
  line-height:26px;
}
._nav-tab_focused_tab {
  color:#555555;
  line-height:20px;
}
._nav-tab_background_tabs {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:center;
  line-height:20px;
}
._nav-tab_tab_hover {
  color:#2A6496;
}
._nav-pills_focused_pill {
  color:#FFFFFF;
}
._nav-pills_background_pills {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:left;
  line-height:20px;
}
._nav-pills_pill_hover {
  color:#2A6496;
}
._navbar-default_link {
  font-size:14px;
  color:#777777;
  line-height:20px;
}
._navbar-default__content_ {
  font-family:'Arial', 'sans-serif;';
  color:#555555;
  line-height:20px;
}
._navbar-default__background_ {
  font-family:'Arial', 'sans-serif;';
  font-size:18px;
  color:#5E5E5E;
  line-height:20px;
}
._navbar-default_link_hover {
  color:#2A6496;
}
._navbar-inverse__background_ {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:20px;
}
._navbar-inverse_link {
  font-size:14px;
  color:#999999;
  line-height:20px;
}
._navbar-inverse_link_hover {
  color:#FFFFFF;
}
._breadcrumb_background {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  line-height:20px;
}
._pagination {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  line-height:26px;
}
._pager_btn {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#428BCA;
  line-height:20px;
}
._alert-success {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3C763D;
  line-height:20px;
}
._alert-info {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#31708F;
  line-height:20px;
}
._alert-warning {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A6D3B;
  line-height:20px;
}
._alert-danger {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#A94442;
  line-height:20px;
}
._progressbar_base {
  line-height:20px;
}
._progressbar_default {
  line-height:20px;
}
._progressbar_success {
  line-height:20px;
}
._progressbar_info {
  line-height:20px;
}
._progressbar_warning {
  line-height:20px;
}
._progressbar_danger {
  line-height:20px;
}
._btn-grp__btn-default__ends_ {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
._btn-grp__btn-default__center_ {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
._btn-grp__btn-default_hover {
}
._btn-grp_divider {
}
._dropdown_menuitem {
  font-family:'Arial', 'sans-serif;';
}
._dropdown_menuitem_hover {
  color:#252525;
}
._dropdown-menu__dropdown-header {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:17px;
}
._panel__panel-default__content_ {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:20px;
}
._panel__panel-default__no_title_ {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:20px;
}
._panel__panel-default__header_ {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:20px;
}
.popover__panel_content {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  line-height:20px;
}
._modal-dialogue_header {
  font-family:'Arial', 'sans-serif;';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:25px;
}
._modal-dialogue_content {
  font-family:'Arial', 'sans-serif;';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
._modal-backdrop {
}
.tooltip {
  color:#FFFFFF;
}
.tooltip_arrow {
}
.badge {
  font-family:'Arial', 'sans-serif;';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
.badge_active {
  color:#428BCA;
}
._well {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
._well__well-lg {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
._well__well-sm {
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
