body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:442px;
  top:136px;
  width:60px;
  height:39px;
  font-family:'Arial', 'sans-serif;';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:39px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:39px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:39px;
  top:10px;
  width:146px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:368px;
  top:281px;
  width:207px;
  height:32px;
  line-height:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:32px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u4_img.mouseDown {
}
#u4.mouseDown {
}
#u4_img.disabled {
}
#u4.disabled {
  opacity:0.5;
}
#u5 {
  position:absolute;
  left:16px;
  top:4px;
  width:175px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:368px;
  top:232px;
  width:207px;
  height:34px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:34px;
}
#u6_img.selected {
  left:-6px;
  top:-6px;
  width:219px;
  height:46px;
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:20px;
  top:9px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:376px;
  top:233px;
  width:194px;
  height:32px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:32px;
  background-color:transparent;
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:368px;
  top:181px;
  width:207px;
  height:34px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:34px;
}
#u9_img.selected {
  left:-6px;
  top:-6px;
  width:219px;
  height:46px;
}
#u9.selected {
}
#u10 {
  position:absolute;
  left:20px;
  top:9px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:376px;
  top:182px;
  width:194px;
  height:32px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:32px;
  background-color:transparent;
  font-family:'Arial', 'sans-serif;';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:40px;
  top:399px;
  width:865px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:848px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:865px;
  height:1px;
}
#u13 {
  position:absolute;
  left:40px;
  top:422px;
  width:154px;
  height:27px;
  font-size:12px;
  line-height:17px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:27px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:39px;
  top:69px;
  width:145px;
  height:41px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u16 {
  position:absolute;
  left:12px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:184px;
  top:69px;
  width:145px;
  height:41px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u17_img.selected {
}
#u17.selected {
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:12px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:328px;
  top:69px;
  width:145px;
  height:41px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:12px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:472px;
  top:69px;
  width:145px;
  height:41px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u21_img.selected {
}
#u21.selected {
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u21_img.mouseDown {
}
#u21.mouseDown {
}
#u22 {
  position:absolute;
  left:12px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:760px;
  top:69px;
  width:145px;
  height:41px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u23_img.selected {
}
#u23.selected {
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u23_img.mouseDown {
}
#u23.mouseDown {
}
#u24 {
  position:absolute;
  left:12px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:616px;
  top:69px;
  width:145px;
  height:41px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u25_img.selected {
}
#u25.selected {
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u25_img.mouseDown {
}
#u25.mouseDown {
}
#u26 {
  position:absolute;
  left:12px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
